body {
    font-family: 'Inter', sans-serif;
}


section {
    height: 400px;
    padding-top: 50px;
    padding-bottom: 190px;
}



#top-banner {
    background-image: url(images/donation21.png);
    background-color: rgba(0, 0, 0, 0.607);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    height: 300px;
}


#top-banner h1 {
    font-size: 75px;
}

#top-banner div {
    margin: 100px;
    color: white;
    align-items: center;
    justify-self: center;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
}

.button {
    text-decoration: none;
    background: linear-gradient(45deg, blue, rgb(72, 8, 98));
    color: white;
    border-radius: 5px;
    padding: 10px 40px;
    box-shadow: 5px 5px 25px white;
}

#donate-amount {
    width: 60%;
    text-align: center;
    margin-left: 250px;
    font-size: 21px;

}

#donate-amount p {
    opacity: 50%;
    box-shadow: 0px 1px grey;
    padding-bottom: 10px;
}

#amount-box {
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;

}

.amount {
    margin: 10px;
    padding: 10px;
    width: 350px;
    height: 100px;
}

#tk {
    border: 3px solid blue;
    border-radius: 5px;
    background-color: aqua;
}

#tk h1 {
    color: blue;
}

#plan {
    width: 60%;
    text-align: center;
    margin-left: 250px;
    font-size: 21px;
}

#plan P {
    opacity: 50%;
}

#plan-box {
    display: flex;
    margin-top: 35px;
}

.catagory {
    width: 60%;
    text-align: center;
    margin: 10px;
    font-size: 15px;
}

#food {
    background-color: aqua;
}

#shelter {
    background-color: pink;
}

#education {
    background-color: burlywood;
}

#form {
    width: 60%;
    text-align: center;
    margin-left: 250px;
    font-size: 21px;
}

#form p {
    opacity: 50%;
}

#mail {
    border: 3px solid blue;
    padding: 10px 40px;
    border-radius: 5px;
}

#form-box {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: skyblue;
}

footer {
    padding-top: 50px;
    height: 150px;
    background-color: rgb(26, 24, 24);
    text-align: center;
}

footer h1 {
    color: rgb(58, 58, 247);
    font-style: italic;
}

footer small {
    color: white;
}