body {
    font-family: 'Inter', sans-serif;
}

#top-banner h1 {
    font-size: 75px;
}

section {
    height: 300px;
    padding-top: 50px;
    padding-bottom: 190px;
}

#top-banner {
    background-image: url(images/donation21.png);
    background-color: rgba(0, 0, 0, 0.607);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    height: 300px;
}

#top-banner div {
    margin: 100px;
    color: white;
    align-items: center;
    justify-self: center;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
}

.button {
    text-decoration: none;
    background: linear-gradient(45deg, blue, rgb(72, 8, 98));
    color: white;
    border-radius: 5px;
    padding: 10px 40px;
    box-shadow: 5px 5px 25px white;
}

#donate-amount {
    width: 60%;
    text-align: center;
    margin-left: 250px;
    font-size: 21px;
}

#donate-amount h6 {
    opacity: 50%;
}

#amount-box {
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;
    box-shadow: 0px 1px grey;
}

.amount {
    border: 3px;
    border-color: white;
    box-shadow: 5px 7px 10px grey;
    margin: 10px;
    padding: 10px;
    width: 350px;
    height: 100px;
}

#plan {
    width: 60%;
    text-align: center;
    margin-left: 250px;
    font-size: 21px;
}

#plan P {
    opacity: 50%;
}

#plan-box {
    display: flex;
    margin-top: 35px;
}

.catagory {
    width: 60%;
    text-align: center;
    margin: 10px;
    font-size: 15px;
}

#food {
    background-color: aqua;
}

#shelter {
    background-color: pink;
}

#education {
    background-color: burlywood;
}